<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Offense Type</th>
      <th>Offense Description</th>
      <th>Report Date</th>
      <th>Offense Start Date</th>
      <th>Offense End Date</th>
      <th>Block</th>
      <th>District</th>
      <th>Beat</th>
      <th>2000 Census Tract</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>VEH-THEFT-AUTO</td>
      <td>VEHICLE THEFT</td>
      <td>2016-08-22T10:20:00</td>
      <td>2016-08-21T22:30:00</td>
      <td>2016-08-22T09:00:00</td>
      <td>7XX BLOCK OF NW 58 ST</td>
      <td>B</td>
      <td>B2</td>
      <td>3400.3006</td>
      <td>-122.365631</td>
      <td>47.670891</td>
    </tr>
    <tr>
      <th>1</th>
      <td>THEFT-LICENSE PLATE</td>
      <td>OTHER PROPERTY</td>
      <td>2016-08-27T17:25:00</td>
      <td>2016-08-26T15:30:00</td>
      <td>2016-08-27T15:00:00</td>
      <td>18XX BLOCK OF 36 AV W</td>
      <td>Q</td>
      <td>Q1</td>
      <td>5600.3037</td>
      <td>-122.403702</td>
      <td>47.635548</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ASSLT-AGG-GUN</td>
      <td>ASSAULT</td>
      <td>2016-08-28T01:25:00</td>
      <td>2016-08-28T01:25:00</td>
      <td>NaN</td>
      <td>5XX BLOCK OF 2 AV</td>
      <td>K</td>
      <td>K2</td>
      <td>8100.1057</td>
      <td>-122.332253</td>
      <td>47.602013</td>
    </tr>
    <tr>
      <th>3</th>
      <td>THEFT-LICENSE PLATE</td>
      <td>OTHER PROPERTY</td>
      <td>2016-08-28T10:24:00</td>
      <td>2016-08-27T21:30:00</td>
      <td>2016-08-28T09:30:00</td>
      <td>7XX BLOCK OF 35 AV</td>
      <td>G</td>
      <td>G2</td>
      <td>7800.2026</td>
      <td>-122.288322</td>
      <td>47.608585</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TRAFFIC</td>
      <td>TRAFFIC</td>
      <td>2016-08-28T02:14:00</td>
      <td>2016-08-28T02:14:00</td>
      <td>NaN</td>
      <td>11 AV / E HOWELL ST</td>
      <td>E</td>
      <td>E2</td>
      <td>7500.4001</td>
      <td>-122.318199</td>
      <td>47.617592</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ASSLT-NONAGG</td>
      <td>ASSAULT</td>
      <td>2016-08-28T08:49:00</td>
      <td>2016-08-28T01:00:00</td>
      <td>2016-08-28T02:00:00</td>
      <td>22XX BLOCK OF 1 AV</td>
      <td>D</td>
      <td>D1</td>
      <td>8001.2008</td>
      <td>-122.345863</td>
      <td>47.612991</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ASSLT-NONAGG</td>
      <td>ASSAULT</td>
      <td>2016-08-28T04:23:00</td>
      <td>2016-08-28T04:23:00</td>
      <td>NaN</td>
      <td>10XX BLOCK OF SPRING ST</td>
      <td>E</td>
      <td>E3</td>
      <td>8300.1003</td>
      <td>-122.326347</td>
      <td>47.609821</td>
    </tr>
    <tr>
      <th>7</th>
      <td>VEH-THEFT-AUTO</td>
      <td>VEHICLE THEFT</td>
      <td>2016-08-28T11:31:00</td>
      <td>2016-08-27T16:00:00</td>
      <td>2016-08-28T11:00:00</td>
      <td>8XX BLOCK OF W ETRURIA ST</td>
      <td>Q</td>
      <td>Q2</td>
      <td>5900.2009</td>
      <td>-122.369453</td>
      <td>47.647785</td>
    </tr>
    <tr>
      <th>8</th>
      <td>VEH-THEFT-AUTO</td>
      <td>VEHICLE THEFT</td>
      <td>2016-08-28T13:28:00</td>
      <td>2016-08-28T13:28:00</td>
      <td>NaN</td>
      <td>38XX BLOCK OF STONE WY N</td>
      <td>B</td>
      <td>B3</td>
      <td>5400.4023</td>
      <td>-122.342537</td>
      <td>47.653412</td>
    </tr>
    <tr>
      <th>9</th>
      <td>FRAUD-OTHER</td>
      <td>FRAUD</td>
      <td>2016-08-27T16:49:00</td>
      <td>2016-08-27T16:49:00</td>
      <td>NaN</td>
      <td>5 AV S / S KING ST</td>
      <td>K</td>
      <td>K3</td>
      <td>9100.2003</td>
      <td>-122.327675</td>
      <td>47.598354</td>
    </tr>
    <tr>
      <th>684462</th>
      <td>EMBEZZLE</td>
      <td>EMBEZZLE</td>
      <td>2014-01-27T10:46:00</td>
      <td>2014-01-18T08:00:00</td>
      <td>2014-01-27T10:00:00</td>
      <td>83XX BLOCK OF 15 AV NW</td>
      <td>J</td>
      <td>J2</td>
      <td>3000.2004</td>
      <td>-122.376801</td>
      <td>47.689667</td>
    </tr>
    <tr>
      <th>684463</th>
      <td>TRAFFIC</td>
      <td>TRAFFIC</td>
      <td>2014-01-26T04:06:00</td>
      <td>2014-01-26T04:06:00</td>
      <td>NaN</td>
      <td>1 AV / PINE ST</td>
      <td>M</td>
      <td>M1</td>
      <td>8100.3006</td>
      <td>-122.340927</td>
      <td>47.609814</td>
    </tr>
    <tr>
      <th>684464</th>
      <td>ASSLT-NONAGG</td>
      <td>ASSAULT</td>
      <td>2014-01-25T22:43:00</td>
      <td>2014-01-25T21:38:00</td>
      <td>NaN</td>
      <td>5XX BLOCK OF S KING ST</td>
      <td>K</td>
      <td>K3</td>
      <td>9100.2002</td>
      <td>-122.327019</td>
      <td>47.598354</td>
    </tr>
    <tr>
      <th>684465</th>
      <td>THEFT-SHOPLIFT</td>
      <td>SHOPLIFTING</td>
      <td>2014-01-25T14:24:00</td>
      <td>2014-01-25T13:50:00</td>
      <td>NaN</td>
      <td>10XX BLOCK OF NE 64 ST</td>
      <td>U</td>
      <td>U1</td>
      <td>4400.2003</td>
      <td>-122.316513</td>
      <td>47.674980</td>
    </tr>
    <tr>
      <th>684466</th>
      <td>TRESPASS</td>
      <td>TRESPASS</td>
      <td>2014-01-20T20:44:00</td>
      <td>2014-01-20T20:44:00</td>
      <td>NaN</td>
      <td>4XX BLOCK OF 3 AV</td>
      <td>K</td>
      <td>K3</td>
      <td>8100.2045</td>
      <td>-122.330513</td>
      <td>47.601887</td>
    </tr>
    <tr>
      <th>684467</th>
      <td>DISTURBANCE-OTH</td>
      <td>DISTURBANCE</td>
      <td>2014-01-18T04:09:00</td>
      <td>2014-01-18T02:57:00</td>
      <td>NaN</td>
      <td>14XX BLOCK OF BROADWAY</td>
      <td>E</td>
      <td>E2</td>
      <td>8400.1008</td>
      <td>-122.320770</td>
      <td>47.613518</td>
    </tr>
    <tr>
      <th>684468</th>
      <td>THEFT-OTH</td>
      <td>OTHER PROPERTY</td>
      <td>2014-01-16T20:24:00</td>
      <td>2014-01-16T13:00:00</td>
      <td>2014-01-16T14:00:00</td>
      <td>BOREN AV / VIRGINIA ST</td>
      <td>D</td>
      <td>D2</td>
      <td>7300.2022</td>
      <td>-122.334023</td>
      <td>47.617710</td>
    </tr>
    <tr>
      <th>684469</th>
      <td>THEFT-MAIL</td>
      <td>MAIL THEFT</td>
      <td>2014-01-17T13:23:00</td>
      <td>2013-12-17T00:00:00</td>
      <td>2014-01-01T23:59:00</td>
      <td>17XX BLOCK OF E JOHN ST</td>
      <td>C</td>
      <td>C2</td>
      <td>7600.3012</td>
      <td>-122.309410</td>
      <td>47.619671</td>
    </tr>
    <tr>
      <th>684470</th>
      <td>FRAUD-CHECK</td>
      <td>FRAUD</td>
      <td>2014-01-17T13:59:00</td>
      <td>2014-01-02T00:00:00</td>
      <td>2014-01-02T23:59:00</td>
      <td>19XX BLOCK OF WESTLAKE AV</td>
      <td>M</td>
      <td>M2</td>
      <td>7300.3027</td>
      <td>-122.337654</td>
      <td>47.614388</td>
    </tr>
    <tr>
      <th>684471</th>
      <td>THEFT-OTH</td>
      <td>OTHER PROPERTY</td>
      <td>2014-01-17T14:15:00</td>
      <td>2013-11-25T09:00:00</td>
      <td>2014-01-17T14:15:00</td>
      <td>4XX BLOCK OF PIKE ST</td>
      <td>M</td>
      <td>M3</td>
      <td>8100.2005</td>
      <td>-122.336128</td>
      <td>47.610447</td>
    </tr>
  </tbody>
</table>